doctype html
html(leng="en")
	head
		title= title
		script(src='https://www.gstatic.com/charts/loader.js')
		link(rel='stylesheet', href='./Styles/main.css')
	body(
		id= 'raw-data'
		class= 'hidden-data'
		data-data= data
		data-sub= data2
		data-legend= lineChartLengend
	)
		h1.title= message
		div#chart_main
		div#chart_sub

	script(src='./Scripts/interactiveChart.js')
	script(src='./Scripts/subChart.js')
