doctype html
html(leng="en")
	head
		title= title
		script(src='https://www.gstatic.com/charts/loader.js')
		link(rel='stylesheet', href='./Styles/main.css')
	body(
		id= 'raw-data'
		class= 'hidden-data'
		data-data= data
		data-sub= data2
	)
		h1.title= message
		div#chart_main
		div#chart_sub

	script.
		var dataRaw = document.getElementById('raw-data').getAttribute('data-data');
		dataRaw = JSON.parse(dataRaw);
		document.getElementById('raw-data').removeAttribute('data-data');

		var dataTopThirty = dataRaw.slice(0, 30);

		google.charts.load('current', {'packages':['corechart']});

		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'description');
			data.addColumn('number', 'score');
			data.addRows(dataTopThirty);

			var options = {'title':'Top Objects in Sims Tumblr Posts',
			               'width':960,
			               'height':1000,
			               'chartArea': {'width': '60%', 'height': '80%'}};

			var chart = new google.visualization.BarChart(document.getElementById('chart_main'));
			chart.draw(data, options);
		}

	script.
		var dataRaw2 = document.getElementById('raw-data').getAttribute('data-sub');
		dataRaw2 = JSON.parse(dataRaw2);
		document.getElementById('raw-data').removeAttribute('data-sub');

		google.charts.load('current', {packages: ['corechart', 'line']});
		google.charts.setOnLoadCallback(drawBasic);

		function drawBasic() {

			var data = new google.visualization.DataTable();
			data.addColumn('number', 'X');
			data.addColumn('number', 'girl');

			data.addRows(dataRaw2);

			var options = {
				'title': 'Girl: Popularity Over Time',
				'width':960,
				hAxis: {
					title: 'Time'
				},
				vAxis: {
					title: 'Popularity'
				}
			};

			var chart = new google.visualization.LineChart(document.getElementById('chart_sub'));

			chart.draw(data, options);
		}